<p>Home</p>

<div class="container" ng-controller="yugiohCardsCrtl as cards">
    <div>
        <button class="btn btn-primary boton-cards" ng-click="mostrarNombreCard()" >show cards</button>
        <button class="btn btn-primary boton-cards" ng-click="barajarNombreCard()" >suffle cards</button>
    </div>

    <input type="range" id="volume" name="volume" class="slider"
    min="0" max="5000" ng-model="sliderValue" ng-change="sliderChanged(sliderValue)">
    <label for="volume"> {{sliderValue}}</label>

    <ul ng-show="mostrarCartas">
      <li class="list">
        <div class="image-container flex-container">
          <div ng-repeat="image in jsonCardsArrayToIterate" ng-show="{{image.atk > 100}}">
            <a href="#!/card"> <img ng-src="{{image.card_images[0].image_url}}" alt="card" class="image" /> </a>
            
          </div>
        </div>
      </li>
    </ul>
</div>

</body>

</html>

<style>
/* .fast{
  -webkit-animation-duration:4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} */
.image {
width: 250px;
height: fit-content;
margin: 20px;
}

.image-container.flex-container {
display: flex;
flex-wrap: wrap;
}

.image-container.flex-container img {
box-sizing: border-box;
padding: 5px;
}

.boton-cards{
margin-top: 2rem;
}
.list{
  list-style: none;
}
.slider{
    width: 500px;
    margin-left: 100px;
    margin-top: 50px;
}
</style>